<h1 style="color:blue; font-size:20px;">hello SVG class</h1>
<svg width="1000" height="1000"
   viewBox="" version="1.1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink">

   <circle cx="100" cy="100" r="60" style="fill:pink;stroke:black;"/>
   <rect x="200" y="100" width="100" height="60" style="fill:orange;stroke:black;"/>
   <ellipse cx="400" cy="100" rx="60" ry="90" style="fill:teal;stroke:black;"/>
   <path d="M 100 350 q 80 -150 160 0 Z" stroke="blue" stroke-width="5" fill="blue" />
   <!-- heart shape -->
   <path d="M 250,400 A 20,20 0,0,1 290,400 A 20,20 0,0,1 330,400 Q 330 430 290 460 Q 250 430 250 400 z" stroke="coral" fill="coral"/> 
   <!-- clover -->
   <path d="M 450,320 C 440,270 520,270 510,320 C 560,310 560,390 510,380 C 520,430 440,430 450,380 C 400,390 400,310 450,320" stroke="green" fill="green"/>
</svg>
